SENTRY_DSN="<Optional Sentry DSN>"
DEV_MODE="<Optional true/false>"

CLOUDFLARE_API_TOKEN="<Cloudflare API token>"
ACME_EMAIL="<ACME email for certificate management>"

IP2LOCATION_TOKEN="<IP2Location API token>"